@font-face {
    font-family: 'Roboto-Condensed';
  src: url('../assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
  }

  @font-face {
    font-family: 'Titillium_Web';
  src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
  }

  @font-face {
    font-family: 'Titillium_Web-x';
  src: url('../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf');
  }

html, body 
{
	margin: 0;
	font-family: 'Titillium_Web', sans-serif;
	background-color: white;
}


.aside-nav,.main-content
{
	margin-top: 56px;
	/*float: left;*/
}

#header .box-nav nav ul li:first-child::after
{
	content:"";
	display: block;
	width: inherit;
    height: 4px;
    margin-top: 8px;
	background-color: #C51111;
}

.aside-nav
{
    /*width: 25%;*/
	background-color: white;
	/*padding-left: 120px;*/
	padding-right: 30px;
	padding-top: 25px;

	

}

.aside-nav div h4
{
	font-size: 16px;

}

.aside-nav div ul
{
	margin-top: 8px;
	font-family: Arial,sans-serif;
}

.aside-nav div ul li
{
	list-style-type: none;
	font-size: 13px;
	margin-bottom: 10px;
	position: relative;
}

.aside-nav div ul li:hover
{
	cursor: pointer;
}

.aside-nav div ul .hidden:hover
{
    cursor: default;
}


/*INVESTIGAR BACKGROUND SIZE.*/
.aside-nav div ul .hidden::after
{
	content: "";
	display: inline-block;
	background: url(../assets/img/cross.png);
	background-size: 14px 14px;
    width: 14px; 
    height: 14px;
	position: absolute;
	right: 4px;
}

.aside-nav .box-busqueda .hiddenSearcher
{
	font-size: 13px;
	font-family: Arial,sans-serif;
	position: relative;
	margin-top: 8px;
}

.aside-nav .box-busqueda .hiddenSearcher::after
{
	content: "";
	display: inline-block;
	background: url(../assets/img/cross.png);
	background-size: 14px 14px;
    width: 14px; 
    height: 14px;
	position: absolute;
	right: 4px;
}

.aside-nav div ul .hidden:hover::after
{
	cursor:pointer;
}


.aside-nav .box-busqueda form .buscador
{
	margin-top: 10px;
	width: 100%;
	height: 26px;
	border: 1px rgb(165, 165, 165) solid;
	outline: none;
	font-size: 14px;

}

.aside-nav .box-busqueda form .buscador:focus
{
	border: 2px black solid;
	border-radius: 3px;

}

.aside-nav .box-busqueda form
{
	width: 100%;
	position: relative;

}

.aside-nav .box-busqueda form .btnSearch
{
	display: inline-block;
	border: none;
	width: 23px;
	height: 23px;
	background: url(../assets/img/find.png);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	position: absolute;
	top:14px;
	right: 0px;
	outline: none;

}

.aside-nav .box-busqueda form .btnSearch:hover
{
	cursor: pointer;
}
/*
.aside-nav .box-busqueda .btnSearch
{
	margin-top: 5px;
}
*/



.aside-nav .box-consola h4,.aside-nav .box-genero h4
,.aside-nav .box-distribuidor h4,.aside-nav .box-desarrolladores h4
{
	margin-top: 30px;
}

.main-content
{
	/*width: 75%; */
	background-color: white;
	/*padding-right: 120px;*/

}

.main-content .box-games
{
	display: flex;
	/*LOS ELEMENTOS SE DESBORDAN*/
	flex-wrap: wrap;
	/*EL ESPACIO ENTRE LOS ELEMENTOS ES EL MISMO*/
	justify-content: space-evenly;


}

.main-content .box-games .photo {
    position: relative;
    display: inline-block; /* stretch to image */
}
.main-content .box-games .photo img {
    width: 100%;
	height: 100vh;
	object-fit: cover;
}
.main-content .box-games .photo .picture-gradient {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(
        to bottom, 
        rgb(255, 255, 255) 0%, 
        rgba(64,64,64,0) 10%, 
        rgba(64,64,64,0) 90%, 
        rgb(255, 255, 255) 100%
    ); 
}

.main-content .headerSections .headerSectionDefault
{
	margin-top: 25px;
	margin-left: 17px;
	margin-bottom: 20px;
	font-family: 'Titillium_Web-x';
	display: inline-block;
	text-align: center;
    color: black;
}

.main-content .headerSections .headerSectionDefault::after
{
	content: "";
	display: inline-block;
	margin-left: 10px;
	width: 1px;
	height: 40px;
	background-color: #C51111;
	vertical-align: top;


}

.main-content .headerSections .headerSectionDefault2
{
	margin-top: 25px;
	margin-left: 17px;
	margin-bottom: 20px;
	font-family: 'Titillium_Web-x';
	display: inline-block;
	text-align: center;
    color: black;
}

.main-content .headerSections .headerSectionDefault2::after
{
	content: "";
	display: inline-block;
	margin-left: 10px;
	width: 1px;
	height: 20px;
	background-color: #C51111;
	vertical-align: top;
}
.main-content .box-games article .juego
{
	text-align: center;
	width: 252px;
	margin-bottom: 50px;
	background-color:rgb(26, 25, 25);
	border-radius: 9px;
	padding-bottom: 5px;
	transition: transform .2s;

}

.main-content .box-games article
{
position: relative;
}

/*AFECTO A TODO EL DIV*/
.main-content .box-games article .juego:hover {
	transform: scale(1.1);
  }
  /*AFECTO SOLO A LA IMAGEN CONTENDIDA EN EL DIV*/
  .main-content .box-games article .juego:hover .imgPhoto {
	filter: brightness(70%);
}


  .main-content .box-games article .juego .infoIcon
  {
	  content: "";
	display: inline-block;
	position: absolute;
	background-size: 37px 37px;
	width:37px ;
	height: 37px;
	visibility: hidden;
		top: 55px;
		left:82px;
  }

  .main-content .box-games article .juego .favoriteIcon
  {
	  content: "";
	display: inline-block;
	position: absolute;
	background-size: 40px 40px;
	width:40px ;
	height: 40px;
	visibility: hidden;
	top: 53px;
	left:133px;
	filter: brightness(0) invert(1);
	transition: transform .1s;
  }

  .main-content .box-games article .juego:hover .infoIcon,
  .main-content .box-games article .juego:hover .favoriteIcon
  {
	visibility: visible;
	}

	.main-content .box-games article .juego .infoIcon:hover
	{
	  cursor: pointer;
	  
	  }

	  .main-content .box-games article .juego .favoriteIcon:hover
	  {
		cursor: pointer;
	  }

	  .main-content .box-games article .juego .favoriteIcon:active
	  {
		filter: sepia(100%) saturate(100);	
		transform: scale(1.3);
	  }


.main-content .box-games article .juego .imgPhoto
{
	width: 100%;
	height: 140px;
	/*ADAPTA LA IMAGEN A SU CONTENEDOR, PERO SIN DEFORMARSE.*/
	object-fit: cover;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;

}

/*TENGO QUE INDICARLE QUE SOLO OCUPE DOS LINEAS*/
.main-content .box-games article .juego .gameName
{
	color: white;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.main-content .box-games article .juego .platformsIcons
{
	display: inline-block;
	padding-top: 4px;

}
.main-content .box-games article .juego .platformsIcons .iconPlatform
{
	width: 16px;
	height: 16px;
	object-fit: cover;
	margin-left: 10px;
}

.main-content .box-games article .juego .platformsIcons .iconPlatformNintendo
{
	width: 19px;
	height: 14px;
	object-fit: cover;
	margin-left: 10px;
}




.main-content .btnShowMore
{
	display: block;
	height: 40px;
	border-radius: 4px;
	color: white;
	background-image: linear-gradient(to bottom,rgb(209,20,20) 50%,rgb(185,14,14) 50%);
	border: none;
	padding-left: 45px;
	padding-right: 45px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 40px;
}

.main-content .headerSections
{
	margin-bottom: 30px;
}

.main-content .headerSections .headerSection
{
	margin-top: 25px;
	margin-left: 17px;
	margin-bottom: 20px;
	font-family: 'Titillium_Web-x';
	display: inline-block;
}

.main-content .headerSections .headerSection::after
{
	content: "";
	display: inline-block;
	margin-left: 10px;
	width: 1px;
	height: 30px;
	background-color: #C51111;
	vertical-align: top;


}

.main-content .headerSections .ordenar
{	
	display: inline-block;
	margin-left: 13px;
	font-size: 16px;
}


.main-content .headerSections .groupOptions
{
	margin-left: 10px;
	display: inline-block;
	border: 1px rgb(168, 168, 168) solid;
	color: rgb(75, 75, 75);
	font-size: 15px;
}

#popUp
{
	position: fixed;
	/*INVESTIGAR POR QUE SE CENTRA*/
	left: 0; 
	right: 0; 
	display: none;
	margin-left: auto; 
	margin-right: auto; 
	color: white;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	z-index: 2;
	background: rgba(0, 0, 0); /* Black color with 50% alpha/opacity */
	overflow-y: auto;
}


#popUp .fondo
{
	position: fixed;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	opacity: 0.2;
	


}

#popUp div{
	position: absolute;
	width: 100%;
}

#popUp .closeModal{
	position: absolute;
	width: 30px;
	height: 30px;
	right:12px;
	top:10px;
	background-color: white;
	color: black;
	border-radius: 100%;
	padding-left:11px;
	padding-top:4px;
	z-index: 1;
}

#popUp .closeModal:hover
{
	cursor: pointer;
}

#popUp div .imagenGame
{
	display: inline-block;
	margin-top: 50px;
	padding-left: 30px;
	width: 20%;
	position: static;

}

#popUp div .imagenGame .imagen
{
	width: 100%;
	height: 275px;
	object-fit: cover;

}

#popUp div .gameInfo 
{
	display: inline-block;
	margin-top: 50px;
	padding-left: 30px;
	width: 50%;
	position: static;
	vertical-align: top;
}

#popUp div .gameDetails 
{
	display: inline-block;
	width: 29%;
	position: static;
	vertical-align: top;
	margin-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
}


#popUp div .gameDetails ul li
{
	margin-top: 10px;
	color: #9A9DA4;
	font-size: 15px;
}
#popUp div .gameDetails ul li::after
{
content: "";
display: block;
width: 100%;
height: 1px;
margin-top: 4px;
background-color: rgb(154, 157, 164);
background: rgba(154, 157, 164, 0.5);
}
#popUp div .gameDetails ul li span
{
	padding-left: 6px;
	color: white;
	font-family: 'Arial';

}

#popUp div .gameInfo h1
{
	display: block;	
}


#popUp div .gameInfo p
{
	display: inline-block;
	margin-top: 20px;
	font-family: 'Arial';

}

#popUp div .imagenGame .favorite
{
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	filter: brightness(0) invert(1);

}



/*MEDIA QUERYS LAYOUTS*/
/*1200px o mayor.*/
@media screen and (min-width: 1200px) {
	
	.aside-nav,.main-content
	{
		float: left;
	}
	.main-content
		{width: 75%;padding-right: 80px;}
	.aside-nav
		{width: 25%;
			padding-left: 80px;}

			.header .box-nav nav ul li
			{
				font-size: 20px;
				padding-top: 15px;
	
			}

  }

/*1200px o menor.*/
@media screen and (max-width: 1200px) {
	
	.aside-nav,.main-content
	{
		float: left;
	}
	.main-content
		{width: 75%;padding-right: 60px;}
	.aside-nav
		{width: 25%;
			padding-left: 60px;}

			.header .box-nav nav ul li
		{
			font-size: 20px;
			padding-top: 15px;

		}

  }

  @media screen and (max-width: 992px) 
  {

		.main-content
		{width: 75%;
			padding-right: 0;}
	.aside-nav
		{width: 25%;
			padding-left: 10px;}

		.header .box-nav nav ul li
		{
			font-size: 16px;
			padding-top: 19px;		
		}
		#popUp div .imagenGame
		{
			width: 100%;
			padding-right: 30px;
		}
		/*INVESTIGAR OBBJECT POSITION*/
		
		#popUp div .imagenGame .imagen
		{
			width: 100%;
			height: 275px;
			object-fit: cover;
			object-position: 50% 10%; /* default value: image is centered*/
		}
		#popUp div .gameInfo 
		{

			width: 100%;
			padding-right: 30px;

		}

		#popUp div .gameDetails 
		{
			width: 100%;
		}

  }

  @media screen and (max-width: 768px) 
  {

		.main-content
		{
			/*QUITO EL PROBLEMA DEL HEADER.*/
			margin-top: 0px;
			width: 100%;
			padding-right: 0;}

		.aside-nav
		{			
			width: 100%;
			padding-left: 10px;
		}

		/*ESTO TENGO QUE MOSTRARLO DIFERENTE.*/
		.asdas
		{}
		.header .box-nav nav ul li
		{
			font-size: 0px;
			padding-top: 19px;
		}


  }

  @media screen and (max-width: 578px) 
  {

	.main-content .headerSections .headerSection
	{
			display: block;
			margin-bottom: 0;
		}

		.main-content .headerSections .ordenar
		{
			display: block;
			margin-top: 5px;
			margin-bottom: 10px;
			margin-left: 17px;

		}
		.main-content .headerSections .groupOptions
		{
			display: block;
			width: 96%;
			margin-left: 4%;

		}

		.main-content .box-games article .juego
		{
			margin-left: 0;
		}
		
		.main-content .headerSections .headerSectionDefault2
		{
			margin-top: 0;
			margin-left: 17px;
			margin-bottom: 20px;
			font-family: 'Titillium_Web-x';
			display: block;
			text-align: left;
			color: black;
		}
		
		.main-content .headerSections .headerSectionDefault2::after
		{
			content: "";
			display: inline-block;
			margin-left: 10px;
			width: 1px;
			height: 20px;
			background-color: #C51111;
			vertical-align: top;
		}
		
  }

  /*
.test1
{
	float: left;
	width: 100%;
	height: 50px;
	padding-right: 10px;
	background-color: red;
}

.test2
{
	float: left;
	width: 100%;
	height: 50px;
	padding-left: 10px;
	background-color: aqua;
}

*/