@font-face {
    font-family: 'Roboto-Condensed';
  src: url('../assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
  }

  @font-face {
    font-family: 'Titillium_Web';
  src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
  }

  @font-face {
    font-family: 'Titillium_Web-x';
  src: url('../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf');
  }

html, body 
{
	margin: 0;
	font-family: 'Titillium_Web', sans-serif;
	background-color: white;
	
}


.aside-nav,.main-content
{
	margin-top: 56px;
	/*float: left;*/
}

.header
{
    width: 100%;
	background-color: rgb(22,22,23);
	position: fixed;
	z-index: 1;
	box-shadow: -1px -1px 1.5625rem 4px rgb(22,22,23);

}

.header .box-logo
{
	display: inline-block;
	width: 20%;
text-align: right;	
vertical-align: top;
}

.header .box-nav
{
	
	display: inline-block;
	width: 79%;
	vertical-align: top;


}

.header .box-logo .logo
{
	width: 150px;	
	height: 53px;
	padding: 5px;
	object-fit: cover;

}

.header .box-nav nav ul 
{
	margin: 0;
	
}

.header .box-nav nav ul li
{
	display:inline-block;
	color: white;
	margin-right: 40px;


}

.aside-nav
{
    /*width: 25%;*/
	background-color: white;
	/*padding-left: 120px;*/
	padding-right: 30px;
	padding-top: 25px;

	

}

.aside-nav div h4
{
	font-size: 16px;

}

.aside-nav div ul
{
	padding: 0;
	margin-top: 8px;
	font-family: Arial,sans-serif;
	list-style-type: none;
}

.aside-nav div ul li
{
	list-style-type: none;
	font-size: 13px;
	margin-bottom: 10px;
	position: relative;
}

.aside-nav div ul li:hover
{
	cursor: pointer;
}

.aside-nav div ul .hidden:hover
{
    cursor: default;
}


/*INVESTIGAR BACKGROUND SIZE.*/
.aside-nav div ul .hidden::after
{
	content: "";
	display: inline-block;
	background: url(../assets/img/cross.png);
	background-size: 14px 14px;
    width: 14px; 
    height: 14px;
	position: absolute;
	right: 4px;
}

.aside-nav .box-busqueda .hiddenSearcher
{
	font-size: 13px;
	font-family: Arial,sans-serif;
	position: relative;
	margin-top: 8px;
}

.aside-nav .box-busqueda .hiddenSearcher::after
{
	content: "";
	display: inline-block;
	background: url(../assets/img/cross.png);
	background-size: 14px 14px;
    width: 14px; 
    height: 14px;
	position: absolute;
	right: 4px;
}

.aside-nav div ul .hidden:hover::after
{
	cursor:pointer;
}


.aside-nav .box-busqueda form .buscador
{
	margin-top: 10px;
	width: 100%;
	height: 26px;
	border: 1px rgb(165, 165, 165) solid;
	outline: none;
	font-size: 14px;

}

.aside-nav .box-busqueda form .buscador:focus
{
	border: 2px black solid;
	border-radius: 3px;

}

.aside-nav .box-busqueda form
{
	width: 100%;
	position: relative;

}

.aside-nav .box-busqueda form .btnSearch
{
	display: inline-block;
	border: none;
	width: 23px;
	height: 23px;
	background: url(../assets/img/find.png);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	position: absolute;
	top:14px;
	right: 0px;
	outline: none;

}

.aside-nav .box-busqueda form .btnSearch:hover
{
	cursor: pointer;
}
/*
.aside-nav .box-busqueda .btnSearch
{
	margin-top: 5px;
}
*/



.aside-nav .box-consola h4,.aside-nav .box-genero h4
,.aside-nav .box-distribuidor h4,.aside-nav .box-desarrolladores h4
{
	margin-top: 30px;
}

.main-content
{
	/*width: 75%; */
	background-color: white;
	/*padding-right: 120px;*/

}

.main-content .box-games
{
	display: flex;
	/*LOS ELEMENTOS SE DESBORDAN*/
	flex-wrap: wrap;
	/*EL ESPACIO ENTRE LOS ELEMENTOS ES EL MISMO*/
	justify-content: space-evenly;


}

.main-content .box-games article .juego
{
	text-align: center;
	width: 252px;
	margin-bottom: 50px;
	margin-left: 30px;
	background-color:rgb(26, 25, 25);
	border-radius: 9px;
	padding-bottom: 10px;
	transition: transform .2s;

}

.main-content .box-games article .juego:hover {
	transform: scale(1.1);
	filter: brightness(70%);
		cursor: pointer;


  }

.main-content .box-games article .juego img
{
	width: 100%;
	height: 140px;
	/*ADAPTA LA IMAGEN A SU CONTENEDOR, PERO SIN DEFORMARSE.*/
	object-fit: cover;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;

}

/*TENGO QUE INDICARLE QUE SOLO OCUPE DOS LINEAS*/
.main-content .box-games article .juego .gameName
{
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}


.main-content .box-games article .juego .plataforma
{
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 14px;
	color: white;
	margin-top:5px;
	background-color: #C51111;
	font-family: Arial,sans-serif;
}

.main-content .btnShowMore
{
	display: block;
	height: 40px;
	border-radius: 4px;
	color: white;
	background-image: linear-gradient(to bottom,rgb(209,20,20) 50%,rgb(185,14,14) 50%);
	border: none;
	padding-left: 45px;
	padding-right: 45px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 40px;
}

.main-content .headerSections
{
	margin-bottom: 30px;
}

.main-content .headerSections .headerSection
{
	margin-top: 25px;
	margin-left: 17px;
	margin-bottom: 20px;
	font-family: 'Titillium_Web-x';
	display: inline-block;
}

.main-content .headerSections .headerSection::after
{
	content: "";
	display: inline-block;
	margin-left: 10px;
	width: 1px;
	height: 30px;
	background-color: #C51111;
	vertical-align: top;


}

.main-content .headerSections .ordenar
{	
	display: inline-block;
	margin-left: 13px;
	font-size: 16px;
}


.main-content .headerSections .groupOptions
{
	margin-left: 10px;
	display: inline-block;
	border: 1px rgb(168, 168, 168) solid;
	color: rgb(75, 75, 75);
	font-size: 15px;



}

/*MEDIA QUERYS LAYOUTS*/
/*1200px o mayor.*/
@media screen and (min-width: 1200px) {
	
	.aside-nav,.main-content
	{
		float: left;
	}
	.main-content
		{width: 75%;padding-right: 80px;}
	.aside-nav
		{width: 25%;
			padding-left: 80px;}

			.header .box-nav nav ul li
			{
				font-size: 20px;
				padding-top: 15px;
	
			}

  }

/*1200px o menor.*/
@media screen and (max-width: 1200px) {
	
	.aside-nav,.main-content
	{
		float: left;
	}
	.main-content
		{width: 75%;padding-right: 60px;}
	.aside-nav
		{width: 25%;
			padding-left: 60px;}

			.header .box-nav nav ul li
		{
			font-size: 20px;
			padding-top: 15px;

		}

  }

  @media screen and (max-width: 992px) 
  {

		.main-content
		{width: 75%;
			padding-right: 10px;}
	.aside-nav
		{width: 25%;
			padding-left: 10px;}

		.header .box-nav nav ul li
		{
			font-size: 16px;
			padding-top: 19px;

			
		}

  }

  @media screen and (max-width: 768px) 
  {

		.main-content
		{
			/*QUITO EL PROBLEMA DEL HEADER.*/
			margin-top: 0px;
			width: 100%;
			padding-right: 10px;}

		.aside-nav
		{			
			width: 100%;
			padding-left: 10px;
		}

		/*ESTO TENGO QUE MOSTRARLO DIFERENTE.*/
		.asdas
		{}
		.header .box-nav nav ul li
		{
			font-size: 0px;
			padding-top: 19px;
		}
  }

  @media screen and (max-width: 578px) 
  {

	.main-content .headerSections .headerSection
	{
			display: block;
			margin-bottom: 0;
		}

		.main-content .headerSections .ordenar
		{
			display: block;
			margin-top: 5px;
			margin-bottom: 10px;
			margin-left: 17px;

		}
		.main-content .headerSections .groupOptions
		{
			display: block;
			width: 96%;
			margin-left: 4%;

		}

		.main-content .box-games article .juego
		{
			margin-left: 0;
		}
		
		
  }

  /*
.test1
{
	float: left;
	width: 100%;
	height: 50px;
	padding-right: 10px;
	background-color: red;
}

.test2
{
	float: left;
	width: 100%;
	height: 50px;
	padding-left: 10px;
	background-color: aqua;
}

*/