<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/css/header.css">
    <link rel="stylesheet" href="/libreria/css/normalize/normalize.css">

    <title>Document</title>
</head>
<body>

    <div class="header"> 
        <div class="box-logo">
            <img class="logo" src="./assets/img/160269287136559707.png"></img>
        </div>
        <div class="box-nav">
            <nav>
                <ul>
                    <li>JUEGOS</li>
                    <li>FAVORITOS</li>
                
                </ul>
            </nav>
    </div>
        
    </div>
    
    
    
</body>
</html>